@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: white;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: rgb(216, 216, 216);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.home-bg {
  background: url("../public/images/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-page-image {
  background: url("../public/images/zyro-image\ \(1\).png");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 16px 16px beige inset;
}
