@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: white;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: rgb(216, 216, 216);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.home-bg {
  background: url("../public/images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 85%;
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
